@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #102530;
  color: white;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

main {
  width: 70%;
}

main > * {
  margin-left: 5rem;
}

/* .logo-pallete {
  #1c4357;
  #bfcfff
  #28617e
  #102530
  #f2f5ff
  #8ca9ff
} */