@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #102530;
  color: white;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

nav {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 70%;
}

main > * {
  margin-left: 5rem;
}

