.glassmorphism {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
}

.hoverEffect:hover {
  transform: scale(1.15);
  margin: 0.5rem;
}

.polygon {
  width: 1em;
  height: 1em;
  display: block;
  fill: inherit;
  flex-shrink: 0;
  transition: transform 200ms ease-out 0s;
  transform: rotateZ(90deg);
  opacity: 1;
  cursor: pointer;
}

.rotate {
  transform: rotateZ(180deg);
  fill: rgb(94, 93, 93);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the fade-in animation to your tech stack item with dynamic delay */
.tstack {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

/* Add delay based on index */
.tstack:nth-child(5n+1) {
  animation-delay: 0.4s; /* Delay for the first item in each row */
}
.tstack:nth-child(5n+2) {
  animation-delay: 0.6s; /* Delay for the second item in each row */
}
.tstack:nth-child(5n+3) {
  animation-delay: 0.8s; /* Delay for the third item in each row */
}
.tstack:nth-child(5n+4) {
  animation-delay: 1s; /* Delay for the fourth item in each row */
}
.tstack:nth-child(5n+5) {
  animation-delay: 1.2s; /* Delay for the fifth item in each row */
}
