.glassmorphism {
  background: rgba(42, 45, 80, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;

}

.hoverEffect:hover {
  transform: scale(1.15);
  margin: 0.5rem;
}